@import 'TopContainer';
@import 'variables';
@import'switcher';
@import 'BigContainer';
@import'MiddleContainer';
@import 'SmallContainer';






 * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 10px;
  font-family: Inter, sans-serif;
  color: $desturated-blue; 
}


    body {
      background-color: $very-dark-blue;
    }


 @media only screen and (min-width: 375px) {
   


  .container {
    margin-left: 20vh;
    margin-right: 20vh;

  }

  }
  
.LightBack{
  background-color:$white;
}

.LightCont {
  background-color: $light-grayish-blue;
}


.FontDark {
  color: red;
}